# {{entries[0][0].get_date()}}

{% for entry in entries%}

## {{entry[0].get_short_datetime()}}

| Attribute  | Value       |
|------------|-------------|
| Date       | {{entry[0].get_long_datetime()}}    |
| Address    | [{{entry[0].get_address_line()}}]({{entry[0].get_address_link()}}) |
| GPS        | [{{entry[0].get_gps_line()}}]({{entry[0].get_gps_link()}})     |
| Device     | {{entry[0].get_device_info_line()}}  |

{{entry[1]}}

{% endfor %}

## Fotos

